[submodule "ranger/.config/ranger"]
	path = ranger/.config/ranger
	url = https://github.com/ZCDu/ranger.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ZCDu/ohmyzsh.git
[submodule "zsh/.zsh-async"]
	path = zsh/.zsh-async
	url = https://github.com/mafredri/zsh-async.git
[submodule "rofi/.config/rofi"]
	path = rofi/.config/rofi
	url = git@github.com:ZCDu/rofi.git
[submodule "dwmscripts/.dwmscripts"]
	path = dwmscripts/.dwmscripts
	url = git@github.com:ZCDu/dwm_script.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:ZCDu/tmux.git
[submodule "picom/.config/picom"]
	path = picom/.config/picom
	url = https://github.com/ZCDu/picom.git
[submodule "lazynvim/.config/nvim"]
	path = lazynvim/.config/nvim
	url = https://github.com/ZCDu/Lazyvim-starter.git
[submodule "lazynvim/.local/share/nvim/lazy/LazyVim"]
	path = lazynvim/.local/share/nvim/lazy/LazyVim
	url = https://github.com/ZCDu/Lazyvim.git
[submodule "packernvim"]
	path = packernvim
	url = https://github.com/ZCDu/packernvim.git
