[submodule "packernvim/.config/nvim"]
	path = packernvim/.config/nvim
	url = https://github.com/ZCDu/luavim.git
[submodule "ranger/.config/ranger"]
	path = ranger/.config/ranger
	url = git@github.com:ZCDu/ranger.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:ZCDu/ohmyzsh.git
[submodule "zsh/.zsh-async"]
	path = zsh/.zsh-async
	url = https://github.com/mafredri/zsh-async.git
[submodule "rofi/.config/rofi"]
	path = rofi/.config/rofi
	url = git@github.com:ZCDu/rofi.git
[submodule "dwmscripts/.dwmscripts"]
	path = dwmscripts/.dwmscripts
	url = git@github.com:ZCDu/dwm_script.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:ZCDu/tmux.git
